<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LogConfigFile" value="./log4net.config" />
    <add key="SettingFileFolder"                  value="./settings/config" />
    <add key="CommandFileFolder"                  value="./settings/command" />
    <add key="OverrideFileFolder"                 value="./settings/_override" />
    <add key="EnvironmentSettingFile"             value="EnvironmentSetting.xml" />
  </appSettings>
</configuration>
